<header>
  <div id="logo">Chitter, twitter clone</div>
  <div id='user-links'>
    <% if user %>
       <span id = "Welcome-message">
        Welcome, <%= user.username %>
    <% else %>
      <a href='/users/new' id='sign_up' name='sign_up' class='button'>sign_up</a>
    <% end %>
  < /div>
</header>