<h1>Welcome to Chitter</h1>

<div id='user-links'>
  <% if current_user %>
      Please enter a message
      <form action="/messages/new" method="post">
        Message: <input name="message_text" type="text">
        <input type="submit" value="Save message">
      </form>
  <% end %>
</div>

<div id='message list'>
  <h3>list of messages</h3>
  <ul>
    <% @messages.each do |message| %>
      <li><%= message.message_text %></li>
    <% end %>
  </ul>
</div>
