<h1>Welcome to Chitter</h1>

<div id='user-links'>
  <% if current_user %>
      Please enter a message
      <form action="/messages/new" method="post">
        Message: <input name="message_text" type="text">
        <input type="submit" value="Save message">
      </form>
  <% end %>
</div>

<div id='message list'>
  <h3>list of messages</h3>
  <table style="width:50%">
    <tr>
      <th>Time</th>
      <th>Message</th>
    </tr>
    <% @messages.each do |message| %>
      <tr>
        <td><%=message.message_time.strftime("%d/%m/%Y %H:%M:%S")%></td>
        <td><%=  message.message_text %></td>
      </tr>
    <% end %>
  </table>
</div>
