<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chitter</title>
  </head>
  <body>
  <header>
    <div id="logo">Chitter, twitter clone</div>
    <div id='user-links'>
      <% if current_user %>
         <span id = "Welcome-message">
          Welcome, <%= current_user.username %>
          <a href='/' id='sign_out' name='sign_out' class='button'>Sign out</a>
      <% else %>
        <a href='/users/new' id='sign_up' name='sign_up' class='button'>sign_up</a>
        <a href='/sessions' id='sign_in' name='sign_in' class='button'>sign_in</a>
      <% end %>
    </div>
  </header>
    <%= yield %>
  </body>
</html>